{%extends "_base.html"%}

{%block title%}login{%endblock%}

{%block contents%}
{%if isAuthenticated%}
    <h3>{{isAuthenticated}}としてログインしています。</h3>
{%endif%}
<div class="card container" style="width:50%;">
    <div class="card-body">
        <h3 class="card-title">ログイン</h3>
        <form action="" method="POST" name="user_info">
            <label for="inputaEmail" class="form-label">Email</label>
            <input type="text" id="inputEmail" class="form-control" name="email">
            <label for="inputPass" class="form-label">Password</label>
            <input type="password" id="inputPass" class="form-control" name="password">
            <br>
            <button type="submit" class="btn btn-primary">送信</button>
        </form>
        {%for error in errors%}
            <h3 class="text-danger">{{error}}</h3>
        {%endfor%}
        {%if isSuccess%}
            <h3>{{isSuccess}}としてログインしました。</h3>
        {%endif%}
    </div>
</div>
{%endblock%}
